@charset "utf-8";
/* CSS Document */


body{

    margin: 0;
    padding: 0;
    font-family: monospace;  
    font-size: 40px;  
   
}

/* Exemplo 01 */
.container{
    border: 2px solid red;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    
}