* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding-left: 20px;
    margin-bottom: 50px;
    width: 100%;
    height: 10vh;
}

ul {
    display: flex;
    padding: 0;
    gap: 20px;
    padding-right: 20px;
    list-style-type: none;
}

a {
    margin: 0;
    color: white;
    text-decoration: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 80%;
    margin-top: 50px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 200px;
    max-width: 400px;
    color: rgba(0, 0, 0, 0.4);
}

img {
    width: 100%;
    height: auto;
}

@media screen and (max-width:670px){
    header{
        height: 32vh;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    li{
        background-color: rgba(255, 255, 255, 0.500);
    }
    #logo{
        font-size: 40px;
    }

    section{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    article{
        max-width: 100%;
    }
}