@charset "utf-8";
/* CSS Document */

body {

	background-image: url(img/009.jpg);
}



div {

	float: left;
	border: solid 4px;
	margin: 20px;
	padding: 20px;
	background-color: yellow;
	font-size: 28px;
	font-family: Verdana, Geneva, sans-serif;
	font: Verdana;
	font-weight: bold;
	animation-name: exemplo1;
	animation-duration: 1s;
	animation-iteration-count:unset;

}



@keyframes exemplo1 {
	/*
	from {background-color:yellow;}
	to {background-color: red;}*/

	0% {
		background-color: yellow;
		transform: rotate(0deg);
	}

	20% {
		background-color: aqua;
		transform: rotate(15deg);
	}

	50% {
		background-color: aqua;
		transform: rotate(60deg);
	}
	70% {
		background-color: aqua;
		transform: rotate(-15deg);
	}

	100% {
		background-color: aqua;
		transform: rotate(-60deg);
	}

	


}